@charset "UTF-8";

#menu-toggle {
    position: fixed;
    height: 45px;
    width: 50px;
    left: 2px;
}

#menu-toggle span {
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    top: 20px;
    transition: 0.5s;
}

#menu-toggle span:nth-child(1) {
    transform: translateY(-15px);
}

#menu-toggle span:nth-child(3) {
    transform: translateY(15px);
}

#menu-color.on #menu-toggle span:nth-child(1) {
    transform: rotate(45deg);
}

#menu-color.on #menu-toggle span:nth-child(2) {
    transform: translateX(-50px);
    background: none;
}

#menu-color.on #menu-toggle span:nth-child(3) {
    transform: rotate(-45deg);
}

