@charset "UTF-8";

#menu-nav {
    text-align: center;
}

.nav-options {
    display: inline-block;
    height: 70px;
    width: 70px;
    border: 1px solid white;
    transition: 1s;
    margin: 0 3px;
    border-radius: 50%;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#url5 {
    background-size: 60px;
}

.nav-options:hover {
    border-color: black;
    height: 80px;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.3);
}