@charset "UTF-8";

@media (max-width: 1024px) and (min-width: 768px) {
    #welcome {
        font-size: 150px;
    }
    #title-hora {
        font-size: 35px;
    }
    .nav-options {
        height: 100px;
        width: 100px;
        background-size: 60px;

    }
    #url5 {
        background-size: 80px;
    }
    footer {
        font-size: 30px;
    }
}

@media (max-width: 414px) {
    footer {
        margin-top: 150px;
    }
}

@media (max-width: 411px) {
    footer {
        margin-top: 150px;
    }
    #title {
        margin-top: 100px;
    }
}

@media (max-width: 375px) {
    .nav-options {
        height: 60px;
        width: 60px;
    }
    footer {
        margin-top: 120px;
    }
    #title {
        margin-top: 70px;
    }
}